<div class="card flex justify-center">
  <p-table [value]="userData" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Password</th>
        <th>City</th>
        <th>Date of Birth</th>
        <th>Edit</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userData>
      <tr>
        <td>
          <input #name
            class="text-black"
            type="text"
            value="{{ userData.name }}"
            [disabled]="isInputDisabled(userData._id)"
          />
        </td>
        <td>
          <input #password
            type="text"
            value="{{ userData.password }}"
            [disabled]="isInputDisabled(userData._id)"
          />
        </td>
        <td>
          <input #city
            type="text"
            value="{{ userData.city }}"
            [disabled]="isInputDisabled(userData._id)"
          />
        </td>
        <td>
          <input #dob
            type="text"
            value="{{ userData.dob | date : 'dd/MM/yyyy' }}"
            [disabled]="isInputDisabled(userData._id)"
          />
        </td>
        <td *ngIf="isInputDisabled(userData._id); else elseBlock">
          <button
            (click)="editUser(userData._id)"
            class="p-3 bg-red-400 rounded-lg"
          >
            Edit
          </button>
        </td>
        <ng-template #elseBlock>
          <td>
            <button (click)="saveUser({
              name:name.value,
              password: password.value,
              city: city.value,
              dob: dob.value
              })" class="p-3 bg-green-400 rounded-lg">
              Save
            </button>
          </td>
        </ng-template>
        
      </tr>
    </ng-template>
  </p-table>
</div>
